<table id="mtl_table"></table>
<button id="buttonCharge" ng-click="generationTable()" style="display:none;" ></button>
<div class="container" ng-init="init()">
	<div id="GLDiv"></div>
</div>
<div id="KeyboardHandlerDescription"></div>
<!--<input type="color" onchange="alert(this.value)"/>-->
<script type="text/javascript">

    var div = document.getElementById("KeyboardHandlerDescription");
    div.textContent = "Press z,q,s,d to navigate in the environment";
    var text = div.textContent;
</script>
