
<table id="mtl_table">
	<tr>
		<td>
			<button id="button_reset" ng-click="resetMTL()">RESET MTL</button>
		</td>
	</tr>
</table>
<div class="container" ng-init="init()">
	<div id="GLDiv"></div>
</div>
<div id="KeyboardHandlerDescription"></div>
<!--<input type="color" onchange="alert(this.value)"/>-->
<script type="text/javascript">

    var div = document.getElementById("KeyboardHandlerDescription");
    div.textContent = "Press z,q,s,d to navigate in the environment. a to go down, e to go up";
    var text = div.textContent;
</script>
